/* Denna fil skall innehålla din CSS kod */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
background-image:url("../img/kiwihug-zGZYQQVmXw0-unsplash.jpg");
background-size: cover;
}

html {
    font-size: 62.5%;
    font-family:"Nanum Gothic" , sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
    border-bottom: 1px solid #E2E8F0;
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;

}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-item {
    margin-left: 5rem;
}


.nav-link{
    font-size: 3rem;
    font-weight: 400;
    color:black;
}

.nav-link:hover{
    color: #482ff7;
}

.nav-logo {
    margin-top: 10px;
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position:fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        height:50%;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }



}


#wrapper{
display: grid;
width: 71vh;

}


#search{
border: 1px solid black;
height: 50px;
font-size: large;
display: flex;
align-items: center;
}

#front{
   
    height: 70vh;
    margin-top: 60px;
    background-image: url("../img/front\ picture\ unsplash.jpg");
    background-size:cover;
    display: flex;
    flex-direction: column-reverse;
}



#front2{
height: 400px;
margin-top: 60px;
display: flex;
align-items: center;
}

#sneak{
height: 50vh;
width: 50%;
margin-right: 10px;
display: flex;
flex-direction:column;
align-items: center;
}

#hat{
height: 50vh;
width: 50%;
margin-left: 10px;
display: flex;
flex-direction:column;
align-items: center;
 }
    
#snek{
width: 200px;
height: 300px;
box-shadow:grey 5px 5px 10px;

}

#shop{
border: 1px solid black;
font-size: 3rem;
display: flex;
justify-content: center;
margin:7px ;
border-radius: 10px;
}

#text1{
display: flex;
justify-content: center;
font-size: 3rem;
}

#snek2{
    width: 200px;
height: 300px;
box-shadow:grey 5px 5px 10px;
    }
    
    #shop2{
    border: 1px solid black;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    margin:7px ;
    border-radius: 10px;
    }
    
    #text2{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    }


    #bild{
    height: 40vh;
background-image: url("../img/keagan-henman-xPJYL0l5Ii8-unsplash.jpg");
background-size: cover;
margin: 15px;
box-shadow: grey 5px 5px 10px;
    }

    h1{
display: flex;
justify-content: center;
font-size:xx-large;
    }

    #title{
font-size: 50px;
display: flex;
justify-content: center;

    }


 #title2{
font-size: 50px;
display: flex;
justify-content: center; 
margin-bottom: 15px;
 }


#bild2{
    height: 40vh;
background-image: url("../img/markus-spiske-jddw6iA31sE-unsplash.jpg");
background-size: cover;
margin: 15px;
box-shadow: grey 5px 5px 10px;
    }


#insta{
height: 50px;
width: 50px;
margin:20px;
}

#face{
height: 50px;
width: 50px;
margin:20px;
}

#twitter{
height: 50px;
width: 50px;
margin:20px;
}


#icons{
display: flex;
justify-content:space-evenly;
}

#follow{
margin-top: 10px;
display: flex;
justify-content: center;
font-size: x-large;
}


footer{
border: solid black 1px;

}

#tit{
display: flex;
justify-content: right;
font-size:x-large;
}

#sok{
width: 30px;
height: 30px;
}

#men{
font-size: x-large;
border: 1px solid white;
border-radius: 10px;
margin: 7px;
display: flex;
justify-content: center;
color:black;
background-color: whitesmoke;
margin-bottom: 30px;
}


#women{
font-size: x-large;
border: 1px solid white;
border-radius: 10px;
margin: 7px;
display: flex;
justify-content: center;
color:black;
background-color: whitesmoke;
}


#cart2{
width: 40px;
height: 40px;
position: absolute;
top: 5px;
right: 15px;
}