/* Denna fil skall innehålla din CSS kod */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
background-image:url("../img/white-body.jpg");
background-size: cover;
}

html {
    font-size: 62.5%;
    font-family:"Nanum Gothic" , sans-serif;
}

li {
    list-style: none;
    margin-top: 10px;
}

a {
    text-decoration: none;
}

.header{
    border-bottom: 1px solid #E2E8F0;
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;

}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-item {
    margin-left: 5rem;
}


.nav-link{
    font-size: 3rem;
    font-weight: 400;
    color:black;
}

.nav-link:hover{
    color: #482ff7;
}

.nav-logo {
    margin-top: 10px;
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position:fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        height:50%;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }



}




#search{
border: 1px solid black;
height: 50px;
font-size: large;
display: flex;
align-items: center;
}

#front{
    height: 80vh;
    margin-top: 60px;
    background-image: url("../img/guy-girl-car.jpg");
    background-size:cover;
    display: flex;
    flex-direction: column-reverse;
}



#front2{
height: 400px;
margin-top: 60px;
display: flex;
align-items: center;
}

#front3{
    height: 70vh;
    margin-top: 40px;
    background-image: url("../img/girls.jpg");
    background-size:cover;
    display: flex;
    flex-direction: column-reverse;
}

#front4{
    height: 90vh;
    margin-top: 40px;
    background-image: url("../img/guys.jpg");
    background-size:cover;
    display: flex;
    flex-direction: column-reverse;
    background-position:center ;
}

#sneak{
height: 50vh;
width: 50%;
margin-right: 10px;
display: flex;
flex-direction:column;
align-items: center;
}

#hat{
height: 50vh;
width: 50%;
margin-left: 10px;
display: flex;
flex-direction:column;
align-items: center;
 }
    
#snek{
width: 200px;
height: 300px;
box-shadow:grey 5px 5px 10px;

}

#shop{
border: 1px solid black;
font-size: 3rem;
display: flex;
justify-content: center;
margin:7px ;
border-radius: 10px;
}

#text1{
display: flex;
justify-content: center;
font-size: 3rem;
}

#snek2{
    width: 200px;
height: 300px;
box-shadow:grey 5px 5px 10px;
    }
    
    #shop2{
    border: 1px solid black;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    margin:7px ;
    border-radius: 10px;
    }
    
    #text2{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    }


    #bild{
    height: 40vh;
background-image: url("../img/tshirts.jpg");
background-size: cover;
margin: 12px;
box-shadow: grey 5px 5px 10px;
    }

    #h12{
display: flex;
justify-content: center;
font-size:xx-large;
    }

#h13{
display: flex;
justify-content: center;
font-size:xx-large;
margin: 20px;
    }
#h14{
    display: flex;
    justify-content: center;
    font-size:xx-large;
    margin-top: 100px;
    margin-bottom: 15px;
}

#h15{
    display: flex;
    justify-content: center;
    font-size:xx-large;
    margin-top: 20px;
    text-decoration:underline;
    text-underline-position: under;
}

    #title{
font-size: 50px;
display: flex;
justify-content: center;

    }


#title2{
font-size: 50px;
display: flex;
justify-content: center; 
margin-bottom: 15px;
}


#bild2{
    height: 40vh;
background-image: url("../img/winter-coats.jpg");
background-size: cover;
margin: 12px;
box-shadow: grey 5px 5px 10px;
    }


#insta{
height: 50px;
width: 50px;
margin:20px;
}

#face{
height: 50px;
width: 50px;
margin:20px;
}

#twitter{
height: 50px;
width: 50px;
margin:20px;
}


#icons{
display: flex;
justify-content:space-evenly;
}

#follow{
margin-top: 10px;
display: flex;
justify-content: center;
font-size: x-large;
}


footer{
border: solid black 1px;
margin-top: 10px;
}

#tit{
display: flex;
justify-content: right;
font-size:x-large;
}

#sok{
width: 30px;
height: 30px;
margin: 10px;
}

#men{
font-size: x-large;
border: 1px solid white;
border-radius: 10px;
margin: 7px;
display: flex;
justify-content: center;
color:black;
background-color: whitesmoke;
margin-bottom: 30px;
}


#women{
font-size: x-large;
border: 1px solid white;
border-radius: 10px;
margin: 7px;
display: flex;
justify-content: center;
color:black;
background-color: whitesmoke;
}

#sale{
    font-size: x-large;
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    justify-content: center;
    color:white;
    background-color:darkred;
    margin-bottom: 140px;
    font-weight:bolder;
    padding-top: 5px;
    padding-bottom: 5px;
}


#cart2{
width: 40px;
height: 40px;
position: absolute;
top: 5px;
right: 10px;
}

#cloth{
display: flex;
justify-content: space-between;
margin: 30px;
}

.sub{
font-size:large;
text-decoration:overline;
letter-spacing: 2px;
}

#cloth2{
display: flex;
justify-content:space-around;
margin: 60px;

}

#help{
display: flex;
justify-content: space-evenly;
}



#filter{
border: black 1px solid;
background-color: white;
width: 45%;
height: 40px;
font-size:x-large;
justify-content: center;
align-items: center;
display: flex;
}

#droplist{
    border: black 1px solid;
    width: 45%;
    height: 40px;
    font-size:x-large;
    justify-content: center;
    align-items: center;
    display: flex;
}


#tshirt{
width:45%;
height: 300px;
background-image: url("../img/girl-tshirt.jpg");
background-size: cover;
box-shadow:grey 5px 5px 10px;
}

#dress{
    width:45%;
    height: 300px;
    background-image: url("../img/red-dress.jpg");
    background-size: cover;
    box-shadow:grey 5px 5px 10px;
}

#jeans{
    width:45%;
    height: 300px;
    background-image: url("../img/girl-denim.jpg");
    background-size: cover;
    box-shadow:grey 5px 5px 10px;
}

#shoe{
    width:45%;
    height: 300px;
    background-image: url("../img/black-shoes.jpg");
    background-size: cover;
    box-shadow:grey 5px 5px 10px;
}

#item{
    display: flex;
    justify-content:space-evenly;
    margin-top: 20px;
}



#item2{
display: flex;
justify-content: space-evenly;
margin-top: 10px;
}

.tex{
display: flex;
justify-content: space-around;
font-size:medium;
margin-bottom: 20px;
margin-top: 5px;
}

::placeholder{
color: black;
}


#jeans2{
    width:45%;
    height: 300px;
    background-image: url("../img/white-denim.jpg");
    background-size: cover;
    box-shadow:grey 5px 5px 10px;
}


#shoe2{
    width:45%;
    height: 300px;
    background-image: url("../img/reebok.jpg");
    background-size: cover;
    box-shadow:grey 5px 5px 10px;
}


#shorts{
    width:45%;
    height: 300px;
    background-image: url("../img/yellow-shorts.jpg");
    background-size: cover;
    background-position:center;
    box-shadow:grey 5px 5px 10px;
}


#tshirt2{
    width:45%;
    height: 300px;
    background-image: url("../img/guy-tshirt.jpg");
    background-size: cover;
    box-shadow:grey 5px 5px 10px;
    }


#purse{
    width: 150px;
    height: 200px;
margin: 10px;
}

#check{
border: black 1px solid;
display: flex;
justify-content:left;
font-size: large;
}

h2{
margin: 20px;
font-size:x-large
}

#quantity{
width: 60px;

}

#text{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

#check2{
    border: black 1px solid;
    display: flex;
    justify-content:space-evenly;
    flex-direction: column;
    font-size: large;
    height: 300px;
    margin-bottom: 20px;
    }

.pris{
display: flex;
justify-content: space-between;
margin: 10px;
}

h6{
font-size:large;
margin: 10px;
}

hr{
    margin: 10px;
}

#order{
    font-size:large;
    border: 1px solid white;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    color:white;
    background-color:rgb(29, 134, 97);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 40px;
}


@media only screen and (min-width: 768px){


#tit{
display: none;
}



#wrapperc{
display: grid;
grid-template-areas: 
'ca h2'
'my su'
'my or'
'ft ft'
;

}

#check{
grid-area: my;
margin: 20px;
}

#check2{
grid-area: su;
margin: 20px;
}

h2{
grid-area: h2;

}

footer{
    grid-area: ft;
}

#ca{
grid-area: ca;

}

#order{
grid-area: or;

}


}